	@font-face {
		font-family: 'gess-light';
		src: url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.eot'); /* IE9 Compat Modes */
		src: url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.otf') format('opentype'), /* Other browsers */
			url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.woff2') format('woff2'), /* Super Modern Browsers */
			url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.woff') format('woff'), /* Pretty Modern Browsers */
			url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('https://yszm.github.io/super-affiliate.github.io/fonts/ge-ss-text-light.svg#svgFontName') format('svg'); /* Legacy iOS */
	}